<template name="profile">
  <div class="container">
    {{#with getUserProfile}}

    {{#if loading}}
    <h2 class="page-header text-center">Loading ...</h2>

    {{else}}
      {{> profileDetail }}
    {{/if}}

    {{else}}

    <h2 class="page-header text-center">User Not Found.</h2>

    {{> search }}

    {{/with}}
  </div>
</template>

<template name="profileDetail">
    <h2 class="page-header text-center">{{ username }}</h2>

    <p>Registered {{ getFromRegister createdAt }} from {{ from }}</p>
    <p>Last seen {{ getFromRegister updatedAt }}</p>
</template>