<template name="forgotPassword">
    <div class="row">
        <h3 class="page-header">Password lost ?</h3>

        {{> forgotPasswordStep1 }}

        {{> forgotPasswordStep2 }}
    </div>
</template>

<template name="forgotPasswordStep1">
    <form action="{{ pathFor 'forgotPasswordSent' }}" method="GET">
        <div class="form-group">
            <label for="email" class="form-control">eMail</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="eMail"/>
        </div>
        <div class="form-group row text-center">
            <div class="col-md-6">
                <a href="{{ pathFor 'login' }}" class="btn btn-primary form-control">Back to Login</a>
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-success form-control"/>
            </div>
        </div>
    </form>
</template>

<template name="forgotPasswordStep2">
    <p>An email has been sent to you with the process to reset your password.</p>

    <div class="row text-center">
        <div class="col-md-6">
            <a class="btn btn-primary" href="{{ pathFor 'home' }}" style="width: 100%;">Home</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-info" href="{{ pathFor 'about' }}" style="width: 100%;">About</a>
        </div>
    </div>
</template>