<template name="resetPassword">
    <div class="row">
        <h3 class="page-header">Reset password</h3>

        <form action="" class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="newpass" class="form-control">New Password :</label>
                <input type="text" name="newpass" id="newpass" class="form-control" placeholder="New Password"/>
            </div>
            <div class="form-group">
                <label for="newpassconf" class="form-control">New Password Again :</label>
                <input type="text" name="newpassconf" id="newpassconf" class="form-control"
                       placeholder="New Password Again"/>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-success form-control"/>
            </div>
        </form>
    </div>
</template>