doctype html
html(lang="en")
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1
        strong= subject
      br
      p You just registered to our game, and we really appreciate this.
      p To play on our platform, just follow this 
        a(href= activ_link) link.
      br
      p And here is the 
        a(href= down_link) download.
      
