/*

Primary : F15841;     // RED
Secondary : 30B257;   // GREEN
Shades :
FEFEFE;               // WHITE
9DA08D;               // GREY
4A4E4F;               // DARKER

*/

table#ladder a {
    color: #F15841;
    text-decoration: none;
}

table#ladder tbody tr:hover td,
table#ladder tbody tr:hover th {
    font-size: 120%;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#home section {
    margin: 20px 0;
    font-size: 18px;
}

table.list-users {
    width: 100%;
}

.circular {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}