/*

Primary : F15841;     // RED
Secondary : 30B257;   // GREEN
Shades :
FEFEFE;               // WHITE
9DA08D;               // GREY
4A4E4F;               // DARKER

*/
#iron-router-progress {
    background-color: #F15841;
    box-shadow: 0 0 5px #F15841;
    z-index: 999;
}

#iron-router-progress.spinner:before {
    border-color: #F15841;
}

table#ladder a {
    color: #F15841;
    text-decoration: none;
}

table#ladder tbody tr:hover td,
table#ladder tbody tr:hover th {
    font-size: 120%;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#home section {
    margin: 20px 0;
    font-size: 18px;
}

table.list-users {
    width: 100%;
    text-align: center;
}

.circular {
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.circular img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#aboutTinyTank section {
    padding: 50px 0;
}